

.container {
    display: flex;
}

/* header */

.backgroundHead {
    background-color: #363062;
    height: max-content;
}

.HeaderIcon{
    font-size: 30px;
    color: white;
    font-weight: bold;
    /* padding: 10px; */
}

.HeaderIcon2{
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.loginName {
    font-family: ui-monospace, "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
}

/* add Post */
.addPostMain {
    width: 90%;
    margin: auto;
    height: max-content;
    margin-top: 20px;
    font-family: ui-monospace, "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
}

.addPostMain_Small {
    width: 90%;
    margin: auto;
    height: max-content;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: ui-monospace, "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
}

.apInput {
    width: 100%;
    border-radius: 10px;
    height: 100%;
    padding: 10px;
    resize: none;
    background-color: #E0F4FF;
}

.apButton {
    color: white;
    background-color: #E3651D;
    padding: 5px;
    width: 10%;
    border-radius: 10%;
}

.apCard {
    background-color: white;
    padding: 15px;
    height: 20vh;
    width: 90%;
    border-radius: 10px;
    box-shadow: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.apCard_Small {
    background-color: white;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.apImgAdd {
    border-radius: 100%;
    padding: 0;
    width: 100%;
    margin-right: 2rem;
    border: solid 3px #E0AED0;
    box-shadow: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 10px;

}

.apImg {
    border-radius: 100%;
    padding: 0;
    width: 90%;
    border: solid 3px #E0AED0;
}

.apIcon1 {
    color: #A367B1;
    width: 3vh;
    font-size: 1.5rem;
    margin: auto;
    cursor: pointer;
}

.verticalLine {
    margin-left: 10px;
    margin-right: 10px;
    border-right: solid 2px #A367B1;
}

/* get Post */

.getPostMain {
    width: 90%;
    height: 100%;
    margin: auto;
    margin-top: 20px;
    font-family: ui-monospace, "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
}

.backgRigth {
    /* background-color: white; */
    padding: 30px;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    max-height: 600px;
    overflow-y: auto;
}

.gpTextPost {
    font-size: 2rem;
    text-wrap: wrap;
}

.gpTimePost {
    font-size: 0.9rem;
}

.gpTextPost p {
    font-size: 20px;
}

.gpCard {
    background-color: white;
    padding: 15px;
    height: 100%;
    width: 90%;
    border-radius: 10px;
    box-shadow: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: auto;
}

.gpCardSmall {
    background-color: white;
    padding: 15px;
    height: max-content;
    width: 90%;
    border-radius: 0.5rem;
    box-shadow: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: auto;
}

.gpCardSmall_Img {
    border-radius: 100%;
    padding: 0;
    width: 3rem;
    border: solid 3px #E0AED0;
}

.gpIcon1 {
    /* color: #A367B1; */
    font-size: 30px;
    padding-top: 10px;
    width: 3vh;
    font-family: ui-monospace, "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
}

.gpIcon2 {
    width: 2vh;
    margin-top: -30px;
    cursor: pointer;
}

.gpTextName {
    font-size: 1.3rem;
}

.gpImg {
    width: fit-content;
    height: 30vh;
    margin: auto;
}

.sidebar_logo_name_mobile {
    color: white;
}
