@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&family=Gloria+Hallelujah&family=Indie+Flower&display=swap');

.body {
    font-family: 'Exo 2', sans-serif;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Indie Flower', cursive;
}

.layout {
    display: flex;
    height: 100vh;
    gap: 2rem;
}

.sidebar_wrapper {
    position: relative;
}

.btn {
    position: absolute;
    right: 0;
    top: 4.7rem;
    border: none;
    background-color: white;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #e5e7eb;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translateX(50%);
    font-size: 0.8rem;
}


.sidebar [data-collapse="true"] {
    width: 5.3rem;
}

.sidebar [data-collapse="true"] .sidebar_name, [data-collapse="true"] .sidebar_logo_name {
    display: none;
}

/* sidebar */

.sidebar {
    width: 17rem;
    height: 100%;
    background-color: white;
    padding: 1rem;
    transition: all 0.3 cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    /* font-family: 'Exo 2', sans-serif;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Indie Flower', cursive; */
}

.sidebar_top {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #A367B1;
}

.sidebar_logo {
    /* width: 3.4rem;
    height: 3.5rem; */
    color: #392467;
    font-size: 2rem;
    object-fit: cover;
}

.sidebar_textlogo {
    font-size: 2rem;
    font-weight: bold;
    color: #5D3587;
    margin-top: 10px;
    font-family: ui-monospace, "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
    /* font-family: 'Exo 2', sans-serif;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Indie Flower', cursive; */
}

.sidebar_textlogo2 {
    font-size: 2rem;
    font-weight: bold;
    color: #5D3587;
    margin-top: 10px;
    margin-left: -10px;
    font-family: ui-monospace, "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
    /* font-family: 'Exo 2', sans-serif;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Indie Flower', cursive; */
}

.sidebar_list {
    list-style: none;
}

.sidebar_link {
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    padding: 0.8rem 1rem;
    display: flex;
    border-radius: 0.5rem;
    background-color: #f3f4f6;
    margin-bottom: 1rem;
    border-bottom: 0.8rem;
}

.sidebar_icon {
    font-size: 1.2rem;
    display: inline-block;
}

.sidebar_name {
    margin-left: 0.5rem;
    font-weight: bold;
    color: #A367B1;
}

.sidebar_logo_name {
    font-size: 2rem;
    font-weight: 600;
}